---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kampagne</title>
	</head>
	<body>
		<header> 
			<img src="" alt="">
		</header>
		<main> 
			<article>
				<section>
					<h1>Skab værdi for din karriere</h1>
					<h1>Vælg den sikre jobsøgning med CA</h1>
				</section>
				<section>
					<img src="/public/img/freja3.webp" alt="freja3">
				</section>
			</article>
			<article>
				<section>
					<h2>Kampagne</h2>
					video
				</section>
				<section>
					<a href=""></a>
					<a href=""></a>
				</section>
			</article>
			<article>
				<section>
					<img src="" alt="">
					<img src="" alt="">
					<img src="" alt="">
				</section>
			</article>
		</main>
		<footer>
			<img src="" alt="">
		</footer>
	</body>
</html>

<style>

</style>