---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kampagne</title>
	</head>
	<body>
		<header> 
			<img src="/img/CA_Logo_2021_logomark.webp" alt="logo">
		</header>
		<main> 
			<article class="grid_1">
				<section>
					<h1>Skab værdi for din karriere</h1>
					<h1>Vælg den sikre jobsøgning med CA</h1>
				</section>
				<section>
					<img src="/img/freja3.webp" alt="freja3" id="front_img">
				</section>
			</article>
			<article>
				<section>
					<h2>Kampagne</h2>
					video
				</section>
				<section>
					<a href=""></a>
					<a href=""></a>
				</section>
			</article>
			<article>
				<section>
					<img src="" alt="">
					<img src="" alt="">
					<img src="" alt="">
				</section>
			</article>
		</main>
		<footer>
			<img src="" alt="">
		</footer>
	</body>
</html>

<style>
	body {
		background-color: #e6e6dd;
	}
	img{
		width: 100%;
	}
	article {
		background-color: #f1f1ed;
	}
	h1 {
		font-family: nexa bold;
		font-size: 3rem;
	}
	#front_img {
  		transform: scaleX(-1);
 		border-radius: 15rem;
	}
	.grid_1{
		display: grid;
		grid-template-columns: 1fr 1fr;

	}

</style>